<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CardGameConsoleApp.Properties.Settings.CardGameConnectionString"
            connectionString="Data Source=KEITH-LAPTOP\sqlexpress;Initial Catalog=CardGame;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0.30319" sku=".NETFramework,Version=v4.6.1"/></startup>

  <appSettings>
    <add key="TriggerNamespace" value="CardGameConsoleApp.Controller"/>
  </appSettings>
</configuration>
